.container {
  background-color: #5d57fb;
  margin-bottom: 28px;
  border-radius: 4px;
  text-align: center;
  color: white;
  cursor: pointer;
  display: block;
  text-shadow: none;
  background-image: none;
  padding: 8px;
  line-height: 24px;
}

.container:hover {
  opacity: 0.9;
  text-decoration: underline;
}